* {
    font-family: Maiandra GD;
}

#principal {
    display: flex;
    flex-direction: column;
    margin: auto 25%;
    width: 700px;
}

.entetes {
    display: flex;
    flex-direction: column;
}

#phoprofil {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 3px 5px 3px 2px brown;
}

.entete1 {
    display: flex;
}

.entete1a {
    margin-left: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.entete1aa {
    display: flex;
    margin: 0px;
}

.entete1aaa {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

#dev {
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
}

.entete1aa a {
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 18px;
}

.entete1aa h1 {
    margin-bottom: 0%;
}

#liengit {
    margin-left: 450px;
}

#divcont {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.section {
    display: flex;
    flex-direction: column;
}

.comp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.comp .comp1 {
    width: 47%;
    border: 1px solid black;
    margin: 8px;
    border-radius: 20px;
    display: flex;
}

.comp1 nav {
    margin: 0px;
    padding: 0px;
    ;
}

nav p,
h2 {
    margin: 0px;
    padding: 0px;
}

nav h2 {
    font-size: 35px;
}

nav p {
    font-size: 15px;
}

.comp1 div {
    margin: 1px;
    display: flex;
}

div .nav1 {
    width: 30%;
    margin: 20px;
}

div .nav2 {
    width: 70%;
}

.nav1 h2 {
    font-size: 45px;
}

.comp .comp1:hover {
    background-color: cornflowerblue;
    color: white;
    border: 0px;
    box-shadow: 1px 1px 1px mediumseagreen;
}

.imglangues {
    width: 50px;
    border-radius: 10px;
    height: 25px;
}

.langues div {
    border: 1px solid black;
}

.langues,
.parcours {
    display: flex;
    width: 100%;
}

.langues div {
    width: 20%;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.langues div span {
    padding: 5px;
    align-content: center;
}

.langues :hover {
    background-color: cornflowerblue;
    color: white;
    border: 0px;
    box-shadow: 1px 1px 1px mediumseagreen;
}

div h2 {
    margin: 5px 0;
}

.parcours div span {
    font-size: 40px;
}

.parcours div span:hover {
    color: olive;
}

.parcours2 {
    display: flex;
    width: 100%;
}

.parcours2 div {
    width: 25%;
    margin: 10px;
}

.mecontacter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mecontacter .noms {
    width: 100%;
}

.mecontacter .noms input {
    width: 300px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}

.mecontacter .email input {
    width: 620px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}

.mecontacter .objetgenre {
    display: flex;
    width: 100%;
}

.objetgenre select {
    width: 310px;
    height: 40px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}

.mecontacter .message {
    display: flex;
    flex-direction: column;
}

.message textarea {
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}

.message button {
    color: white;
    background-color: blue;
    width: 120px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: 10px 10px 10px 0;
}

.message button:hover {
    background-color: blueviolet;
}

.message span {
    color: red;
    font-size: 14px;
}